@import "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: $font-family-base;
    font-style: $font-size;
    color: $color-base;
    line-height: $line-height;
    background-color: #F8F8F8;
}

img {
    max-width: 100%;
    height: auto;
}
