.btn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-family: $font-family-base;
    font-size: $font-size;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    background-color: $color-secondary;
    border: 0;
    border-radius: 3px;

    &:disabled {
        pointer-events: none;
        background-color: #888;
    }
    &:hover {
        background-color: darken($color-secondary, 6%);
    }
    &:focus {
        background-color: darken($color-secondary, 12%);
    }
}
